body {
   margin:0px;
   margin-top:60px;
   padding: 0px;
   background-color: #FFF7E9;
}

nav {
   display: flex;
   position: fixed;
   top:0;
   width: 100%;
   overflow: auto;
   height: auto;
   background-color: #1C82AD;
}

.left-links {
   flex:1 1 200px;
   font-size: 17px;
   font-weight: bolder;
   padding: 14px;
   text-decoration: none;
   color: #00337C;
}

.links {
   display: inline-block;
   text-align: center;
   padding: 14px;
   text-decoration: none;
   font-size: 17px;
   font-weight: bolder;
   color: #00337C;
}

.profilepic {
  border-radius: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 250px;
  height: 250px;
}

.logo {
  width: 40px;
  height: 40px;
  margin: 0 3px;
}

.logos {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
}

.contact {
  border: 2px grey solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 115px;
  background-color: lightblue;
  width: 450px;
  border-radius: 30px;
  padding-right: 20px;
}

.about {
  border: 2px grey solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 30px;
  background-color: lightblue;
  width: 450px;
  border-radius: 30px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
}

.landing {
  margin-top: 100px;
}

.active {
  color: #13005A;
}

.project {
  border: 2px grey solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 30px;
  background-color: lightblue;
  width: 350px;
  border-radius: 30px;
}

.projecttext {
  width: 300px;
}

h1, h2, h3, h4, p {
  text-align: center;
}
